modules = ["cpp-clang14"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["freeglut", "mesa", "libGL", "xorg.libX11", "xorg.libXi", "xorg.libXmu", "libGLU"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Black Hole Simulation"

[[workflows.workflow]]
name = "Black Hole Simulation"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./black_hole_simulation"

[workflows.workflow.metadata]
outputType = "vnc"
